# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
outbreak_radar.db
*.sqlite3
venv/
env/
backend/venv/
backend/__pycache__/
backend/*.sqlite3

# Node
node_modules/
frontend/node_modules/
frontend/.next/

# Environment
.env
.env.local
frontend/.env.local

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
